* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}

body {
    background: #FDFDFD;
    color: #61848B;
    overflow-x: hidden;
    transition: .3s ease all;
}

::-moz-selection { /* Code for Firefox */
    color: #3D6972;
    background: #efeeee;
}

::selection {
    color: #3D6972;
    background: #efeeee;
}

a {
    color: #EBF1F9;
    text-decoration: none;
}

img {
    object-fit: contain;
}

/* -------------- FONTS ----------------- */    

@font-face {
    font-family: 'Gill Sans';
    src: url('../assets/fonts/Gill-Sans.otf');
    font-display: swap; }

@font-face {
    font-family: 'Salted Mocha';
    src: url('../assets/fonts/SaltedMocha-Regular.otf');
    font-display: swap; }
    
h1 {  
    color: #3D6972;
    font-family: 'Salted Mocha', sans-serif;
    font-size: 135px;
    font-style: normal;
    font-weight: 400;
    line-height: 140px;}

h2 {  
    color: #61848B;
    font-family: 'Salted Mocha', sans-serif;
    font-size: 125px;
    font-style: normal;
    font-weight: 400;
    line-height: 140px;}

h3 {
    color: #374D51;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: 1.05px;
    text-transform: uppercase;}

h4 {
    color: #61848B;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;  }

h5 {
    font-family: 'Gill Sans', sans-serif;
    color: #374D51;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }

p {
    font-family: 'Gill Sans', sans-serif;
    color: #61848B;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }

/* ------------  NAV ------------------- */

nav {
    position: fixed;
    width: 90%;
    height: 90px;
    top: 0;
    padding: 0 5% 0 5%;
    background: #FDFDFD;
    display: flex;
    justify-content: center;
    z-index: 20; 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0  inset;}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; }

.nav__links li {
    margin: 1.5rem; }


/* ------------ A LINKS ------------------- */

.aLink {
    font-family: 'Montserrat', sans-serif;    
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    color: #4A686E;
    position: relative;
    white-space: nowrap;
    padding-bottom: 0.3rem;
    text-decoration: none;
    text-transform: uppercase; }

.aLink:hover{
    font-size: 16px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }


/* ------------  BOTTON -------------- */

button {
    font-family: 'Montserrat', sans-serif;    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    color: #FBF7F2;
    background-color: #3D6972;
    white-space: nowrap;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    border: none;
    padding: 20px 54px;}
    
button:hover {    
    font-size: 20.5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

/* ------------  BOTTON MODAL-------------- */

.buttonModal {
    font-family: 'Montserrat', sans-serif;    
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    color: #3D6972;
    background-color: #FDFDFD;
    white-space: nowrap;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
    border: 1px #3D6972 solid;
    padding: 20px 0;
    margin: 5px;
    width: 370px;}
    
.buttonModal:hover {    
    font-size: 18.5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

/* ----------- Hero ----------- */

.hero{
    width:100%;
    height: auto;
    background-image: url(../assets/img/summerHero.png);
    background-size: cover ;}

.hero__box{
    width:90%;
    height: auto;
    padding-top: 90px;
    padding-bottom: 110px;
    margin-left: 5%; }
  
.hero__title{
    width:auto;
    height: auto;
    padding-top: 120px;
    text-align: center;}
      
    .hero__title svg{
        margin-top: 40px;}
          
.hero__txt{
    max-width: 480px;
    margin: 100px auto 50px auto ;
    height: auto;
    text-align: center;}

    .hero__txt h4{
        margin-bottom: 10px;}
  
    .hero__txt h5{
        margin-top: 20px;}

        .hero__txt svg{ 
            margin-top: 40px;
            margin-bottom: 40px;}

.hero__btn{
    width:100%;
    height: auto;
    text-align: center;
    margin-top: 50px; }    

/* ----------- Nuestra historia ----------- */

#we{
    width:100%;
    height: 130px; 
    margin: 0;}

.we{
    width:100%;
    height: auto; 
    margin: 0;}

.we__box{
    width:90%;
    margin-left: 5%;
    height: auto;
    text-align: center;}
  
.we__title{
    max-width: 480px;
    margin: 0 auto;
    height: auto;
    text-align: center;}

    .we__title h5{
        margin-top: 20px;}

.we__txt {
    width: max-content;
    height: auto;
    display: grid;
    grid-template-columns: minmax(0,480px) minmax(0,480px);
    column-gap: 60px;
    text-align: center;
    margin: 0 auto 60px auto; }

    .we__txt p {
        width: auto;
        height: auto;
        text-align: left;
        margin-top: 65px;
        margin-left: 0;}

.we__svg{
    width: 50%;
    height: auto;
    margin-left: 25%; }

.we__gallery{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    margin-top: 100px;}

    .we__gallery img{
        width: 100%;
        height: auto; }

/* ----------- El Salon ----------- */

#location{
    width:100%;
    height: 130px; 
    margin: 0;}

.location{
    width:100%;
    height: auto; 
    margin: 0;}

.location__box{
    width: 90%;
    height: auto;
    padding-bottom: 50px; 
    text-align: center;
    margin-left: 5%;}
  
.location__title{
    max-width: 480px;
    margin: 0 auto;
    height: auto;
    text-align: center;}

    .location__title h5{
        margin-top: 20px;}

.location__img{
    text-align: right; }

    .location__img img{
        width: 100%;
        max-width: 500px;
        height: auto; }

.location__txt {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1.15fr;
    column-gap: 80px; 
    margin-top: 75px;
    align-items: end;
    text-align: left;}

    .location__txt h2 {
        margin-bottom: 45px; }

    .location__txt p {
        max-width: 465px;
        height: auto;
        margin: 40px 0 35px 0; }

/* ----------- La Agenda ----------- */

#timeline{
    width:100%;
    height: 100px; 
    margin: 0;}

.timeline{
    width:100%;
    height: auto; 
    margin: 0;}

.timeline__box{
    width: 90%;
    height: auto;
    padding-bottom: 50px; 
    text-align: center;
    margin-left: 5%;}

.timeline__title{
    max-width: 480px;
    margin: 0 auto;
    height: auto;
    text-align: center;}

    .timeline__title h4{
        margin-top: 40px;}

    .timeline__title h5{
        margin-top: 20px;}

.timeline__grid {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: repeat(minmax(160px,auto));
    grid-template-areas: ". L one" "two L ." ". L thr" "four L ."
                ". L five" "six L ."  ". L seven" "eig eig eig";
    margin-top: 170px; }

    .item__left{
        min-height: 160px;
        float: left;
        text-align: left;
        padding-left: 30px; 
        position: relative;
        justify-items: start;}

        .item__left h3{
            position: absolute;
            top: 0px;
            transform: translateY(-10px); }

        .item__left p{
            padding-top: 35px;
            max-width: 340px;}

        .svgL1 {
            position: absolute;
            top: 30px;
            transform: translateY(-120px); }

        .svgL2 {
            position: absolute;
            left: 0px;
            transform: translateX(-4px);}

    .item__right{
        min-height: 160px;
        float: right;
        text-align: right;
        position: relative;}

        .item__right h3{
            position: absolute;
            top: 0px;
            right: 30px;
            transform: translateY(-10px); }

        .item__right p{
            max-width: 340px;
            float: right;
            padding-right: 30px;
            padding-top: 35px;  }

        .svgR1 {
            position: absolute;
            top: 30px;
            transform: translateY(-120px);
            right: 30px; }

        .svgR2 {
            position: absolute;
            right: 0px;
            transform: translateX(4px);}

    .item__center{
        height: auto;
        text-align: center;
        position: relative;}

        .item__center h3{
           padding-top: 110px;}

        .item__center p{
            max-width: 350px;
            margin: 15px auto 0 auto;}

        .svgC1 {
            position: absolute;
            top: 0px;
            transform: translateY(30px) translateX(-32px);}

        .svgC2 {
            position: absolute;
            top: 0px;
            transform: translateX(-4px);}

    .L{ grid-area: L; background-color: #4A686E;}
    .one { grid-area: one; }
    .two { grid-area: two; }    
    .thr { grid-area: thr; }
    .four { grid-area: four; }
    .five { grid-area: five; }
    .six { grid-area: six; }
    .seven { grid-area: seven; }
    .eig { grid-area: eig; }

/* ----------- Los Regalos ----------- */

#gift{
    width:100%;
    height: 100px; 
    margin: 0;}

.gift{
    width:100%;
    height: auto; 
    margin: 0;}

.gift__box{
    width: 90%;
    height: auto;
    text-align: center;
    margin-left: 5%;}

.gift__title{
    max-width: 620px;
    margin: 0 auto;
    height: auto;
    text-align: center;}

    .gift__title h4{
        margin-top: 60px;}

    .gift__title h5{
        margin-top: 20px;}

.gift__log {
    max-width: 850px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 80px auto;
    text-align: center; }        

.gift__log a img{
    width: auto;
    height: 80%;
    max-height: 80px;
    object-fit: contain; }    
    
.gift__cta{
    width: 345px;
    height: 45px;
    padding-top: 20px;
    margin: 0 auto;
    background-color: #B8D5DB;
    margin-bottom: 100px;}

    .gift__cta h4{
        color: #374D51;}

/* ----------- Conf Asistencia ----------- */

.counter {
    width:100%;
    height: auto; 
    margin: 0;
    background-color: #B8D5DB; }

#counter {
    width:100%;
    height: 100px; 
    margin: 0; }

.counter__title {
    width:90%;
    height: auto; 
    text-align: center;
    margin: 30px 5% 40px 5%; }

    .counter__title  h4{
        color: #3D6972; }

.counter__txt {
    width: 90%;
    max-width: 480px;
    height: auto; 
    text-align: center;
    margin: 50px auto 0px auto; }

    .counter__txt p{
        color: #3D6972; 
        margin-bottom: 40px;}

    .counter__txt a button{
        margin-bottom: 90px;}

    /* Countdown styles */
    #date-countdown {
        text-align: center;
        /* Off-white */
        padding: 50px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 18px; 
        color: #3D6972;
        font-family: 'Gill Sans';
        font-size: 70px;
    }

    .countdown-item {
        display: flex;
        flex-direction: column;
        align-items: center; }

    #date-countdown span {
        color: #3D6972;
        font-family: 'Gill Sans';
        font-size: 100px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;}

    #date-countdown h6 {
        color: #3D6972;
        font-family: 'Montserrat';
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.85px;}

    #date-countdown svg {
        transform: translateY(-25px);}

/* ----------- Saludo final ----------- */

.final{
    position: relative;
    width:100%;
    height: auto; }
  
.final__title{
    width:90%;
    height: auto;
    padding-top: 120px;
    text-align: center;
    margin-bottom: 140px;
    margin-left: 5%;}

    .final__title h4{
        margin-bottom: 60px;}
      
    .final__title svg{
        margin-top: 40px;}

        .final__svg1{
            height: auto;
            width: 40%;
            position: absolute;
            top: 50px;
            left: 0px;
            transform: translateX(-40%);}

            .final__svg1 svg{
                height: auto;
                width: 100%;
                max-width: 610px; }

        .final__svg2{
            height: auto;
            width: 40%;
            position: absolute;
            bottom: 0px;
            right: 0;
            transform: translateX(50%) translateY(150px);}

            .final__svg2 svg{
                height: auto;
                width: 100%;
                max-width: 450px; }

/* ----------- Footer ----------- */

.footer {
    width:100%;
    height: auto;
    background-color: #3D6972;} 

.footer__title {
    width:90%;
    height: auto;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0;} 

.pR {
    text-align: left;
    color: #F3FBFD;
    font-family: 'Gill Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; } 

.pL {
    text-align: right;
    color: #F3FBFD;
    font-family: 'Gill Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;} 

/* ----------- MODAL ----------- */

/* Estilo para ocultar el modal por defecto */
.modal {
    display: none;
    position: fixed;
    z-index: 40;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 18vh;
    background-color: rgba(45, 45, 45, 0.8); }

/* Estilo para el contenido del modal */
.modal-content {
    background-color: #ffff;
    color: #3D6972;
    margin: 5% auto;
    padding: 20px;
    border: none;
    border-radius: 15px;
    width: 90%;
    max-width: 420px;
    height: auto;
    position: relative;}

.modal-content h3 {
    color: #3D6972;
    margin: 40px auto 0px auto; }

.modal-content h5 {
    color: #3D6972;
    font-size: 20px;
    max-width: 350px;
    margin: 25px auto 50px auto; }

.modalbtn{
    padding-bottom: 30px;}

/* Estilo para el botón de cierre (la "X" en la esquina) */
.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 25px;
    cursor: pointer; }

.close:hover {
    color: rgb(6, 6, 6);}


/* ================== MEDIA ================== */

@media (max-width: 768px) {

    .nav  {
        display: none;
    }

    h1 {  
        font-size: 120px;
        line-height: 128px;}
    
    h2 {  
        font-size: 100px;
        line-height: 110px;}
    
    h3 {
        font-size: 18px;
        line-height: 21px;}
    
    h4 {
        font-size: 18px;
        line-height: 21px; }
    
    h5 {
        font-size: 21px; }
    
    p {
        font-size: 21px;  }

    button {
        font-size: 18px;
        padding: 20px 40px;}
        
    button:hover {    
        font-size: 18.5px; }

    .buttonModal {
        font-size: 16px;
        width: 300px;}
        
    .buttonModal:hover {    
        font-size: 16.5px; } 

    .hero__box{
        padding-top: 0; }    

    .we__txt {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin: 0 auto 60px auto; }
    
        .we__txt p {
            width: 100%;
            margin-top: 35px;
            text-align: center; }
    
    .we__svg{
        width: 75%;
        height: auto;
        margin-left: 12.5%; }
    
    .we__gallery{
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(3, 1fr); 
        margin-bottom: 25px;}

    .location__box{
        padding-bottom: 30px; }

    .location__img{
        text-align: center; }
    
    .location__txt {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        text-align: center;
        margin-top: 40px;}
    
    .location__txt h2 {
        margin-top: 75px; }

    .location__txt p {
        margin: 40px auto 35px auto; }

    .timeline__box{
        padding-bottom: 30px;}    

    .item__left{
        min-height: 220px;
        padding-left: 20px; }

        .item__left p{
            padding-top: 40px;}

    .item__right{
        min-height: 220px; }
        
        .item__right h3{
            right: 20px;}

        .item__right p{
            padding-right: 20px; 
            padding-top: 40px;}
        
        .svgR1 {
            right: 20px; }
        
    .gift__log {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 6px;
        margin: 80px auto 40px auto; }    

    .counter__title {
        margin-top: 0;}    

    #date-countdown {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
        font-size: 40px;}

    #date-countdown span {
        font-size: 60px; }

    #date-countdown h6 {
        font-size: 12px;}

    #date-countdown svg {
        display: none;}

    .modal-content {
        max-width: 350px; }

    .modal-content h5 {
        max-width: 320px; }

}

@media (min-width: 769px) and (max-width: 1024px) {

    .nav__links li {
        margin: 1rem; }

    .we__txt {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        margin: 0 auto 60px auto; }
    
        .we__txt p {
            width: 100%;
            max-width: 780px;
            margin-top: 35px; 
            margin-left: auto;
            margin-right: auto;
            text-align: center;}

        .we__svg{
            width: 70%;
            margin-left: 15%; }

        .location__box{
            padding-bottom: 30px;
            padding-top: 40px; }
    
        .location__img{
            text-align: center; }
        
        .location__txt {
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            text-align: center;
            margin-top: 40px;}
        
        .location__txt h2 {
            margin-top: 75px; }
    
        .location__txt p {
            margin: 40px auto 35px auto; }

}

@media (min-width: 1500px) {

    .we, .location, .timeline, .gift, .final .footer__title  {
        width:1500px;
        margin-left: auto;
        margin-right: auto;  } 

}




